@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppUser

<div class="container">
    <div class="row">
        <div class="col-6 d-flex flex-column">
            <span class="display-6 fw-bold text-primary">My Porfile</span>
            <p>Name : @Model.FullName</p>
        </div>
    </div>
</div>